**/node_modules
**/.next
**/out
**/build
**/coverage
**/.pids
**/.git
**/.DS_Store
**/*.log
**/*.tsbuildinfo
**/next-env.d.ts

# Env files
**/.env
**/.env.*
**/.env.*.local

# Don't ignore the example env file
!**/.env.docker.example

# Docker artifacts themselves
**/Dockerfile
**/.dockerignore
